<div class="row">
  <div class="col-12">
    <h4 class="text-center mt-5">Learn code and Build your own real apps</h4>
  </div>
  <div class="col-12">
    <div class="card-deck mb-3 text-center mt-5">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Swift Course</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Particular 01</li>
            <li>Particular 02</li>
            <li>Particular 03</li>
            <li>Particular 04</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Swift UI Course</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Particular One</li>
            <li>Particular Two</li>
            <li>Particular Three</li>
            <li>Particular Four</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get Started</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Ionic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Particular I</li>
            <li>Particular II</li>
            <li>Particular III</li>
            <li>Particular IV</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>
